@charset 'utf-8';

:root {
  /* Color */
  /* gradient color */
  --color-mint: #67d4d2;
  --color-dark-mint: #25c1c3;
  --color-transparent-mint: #22c0c3b2;
  --color-light-mint: #7ad3c7;
  --color-green: #afd2a0;
  --color-light-green: #9fd3ae;
  --color-olive: #abd1a5;
  --color-olive-yellow: #d1d08b;
  --color-dark-yellow: #debc42;
  --color-yellow: #f7d171;

  --color-orange: #ff6d00;
  /* achromatic color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-light-black: #2d2d2d;
  --color-dark-grey: #4d4d4d;
  --color-light-grey: #7c7979;
  --color-black: #161616;
  --color-black-true: #000000;

  /* Font size */
  --font-large: 40px;
  --font-medium: 24px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-family: "Poppins", "Nanum Gothic";
  cursor: default;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: var(--color-mint);
  color: var(--color-white);
}

.navbar__logo {
  display: flex;
  align-items: center;
  margin-left: 4px;
  padding-left: 12px;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__logo a {
  display: flex;
}
.navbar__logo a:last-child {
  padding-top: 2px;
}
.navbar__logo a img {
  height: 35px;
  margin-right: 5px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}
.navbar__menu__item:hover {
  background-color: var(--color-dark-mint);
}

/* Home */
#home {
  background: url("/img/home_background.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__profile {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}
.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon img {
  width: 170px;
  height: 170px;
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.job {
  display: flex;
  align-items: center;
}

.job__logo {
  width: 150px;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

/* Skills */
#skills {
  background-color: var(--color-green);
}
#skills h1 {
  color: var(--color-white);
}

.skillset {
  display: flex;
  background-color: var(--color-white);
  margin: 20px 0;
  border-radius: var(--size-border-radius);
}

.skillset__title {
  font-weight: var(--weight-semi-bold);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-yellow);
  padding: 20px;
  border-radius: 4px 0 0 4px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}
.skill__description span i {
  font-size: var(--font-small);
  padding-right: 5px;
}

.skill {
  margin-bottom: 8px;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-white);
}

.skill__value {
  width: 70%;
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-white);
  color: var(--color-olive);
}

.tools h3 {
  color: var(--color-olive);
}

.tools,
.etc {
  padding: 20px;
}

.tools h3,
.etc h3 {
  font-weight: var(--weight-semi-bold);
}

.etc {
  color: var(--color-white);
  background-color: var(--color-olive-yellow);
}

.etc h3 {
  color: var(--color-white);
}

/* Work */
.work__categories {
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}
.category__btn.active,
.category__btn:hover {
  background-color: var(--color-mint);
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-yellow);
  border-radius: 50%;
  color: var(--color-white);
  width: 28px;
  height: 28px;
  display: inline-block;
  line-height: 28px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration);
}

.category__btn:first-child .category__count {
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0;
  transform: translateY(-10px);
  transition: all var(--animation-duration);
}

.project__description h3 {
  color: var(--color-white);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  margin-top: 8px;
  transform: translateX(-50%);
  background-color: var(--color-dark-white);
}
