@charset 'utf-8';

:root {
  /* Color */
  /* gradient color */
  --color-mint: #67d4d2;
  --color-dark-mint: #25c1c3;
  --color-light-mint: #7ad3c7;
  --color-green: #afd2a0;
  --color-dark-green: #88c071;
  --color-olive-yellow: #d1d08b;
  --color-dark-yellow: #debc42;
  --color-yellow: #f7d171;

  --color-orange: #ff6d00;
  /* achromatic color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-light-black: #2d2d2d;
  --color-dark-grey: #4d4d4d;
  --color-light-grey: #7c7979;
  --color-black: #161616;
  --color-black-true: #000000;

  /* Font size */
  --font-large: 40px;
  --font-medium: 24px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-family: "Poppins", "Nanum Gothic";
  cursor: default;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: transparent;
  color: var(--color-white);
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--darker {
  background-color: var(--color-mint);
  padding: 8px;
}

.navbar__logo {
  display: flex;
  align-items: center;
  margin-left: 4px;
  padding-left: 12px;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__logo a {
  display: flex;
}
.navbar__logo a:last-child {
  padding-top: 2px;
}
.navbar__logo a img {
  height: 35px;
  margin-right: 5px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  color: var(--color-white);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
  transition: all 200ms linear;
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  border: 1px solid var(--color-white);
  background-color: var(--color-dark-mint);
}

.navbar__toggle-btn {
  position: absolute;
  top: 27px;
  right: 32px;
  font-size: 24px;
  display: none;
}
.navbar__toggle-btn span {
  display: block;
  width: 24px;
  height: 3px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}
.navbar__toggle-btn span:nth-child(2) {
  margin: 5px 0;
}

/* Home */
#home {
  background: url("/img/home_background.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__profile {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.home__contact:hover {
  border: 2px solid var(--color-mint);
  background-color: var(--color-mint);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}
.section__container {
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding: 50px;
  padding-top: 120px;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon img {
  width: 170px;
  height: 170px;
}

.major__title {
  color: var(--color-dark-mint);
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-regular);
}

.major__description {
  color: var(--color-dark-grey);
}

.job {
  display: flex;
  align-items: center;
}

.job__logo {
  width: 150px;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

/* Skills */
#skills {
  background-color: var(--color-green);
  padding: 0;
}
#skills h1 {
  color: var(--color-white);
}

.skillset {
  display: flex;
  background-color: var(--color-white);
  margin: 20px 0;
  border-radius: var(--size-border-radius);
}

.skillset__title {
  font-weight: var(--weight-semi-bold);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-yellow);
  padding: 20px;
  border-radius: 4px 0 0 4px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}
.skill__description span i {
  font-size: var(--font-small);
  padding-right: 5px;
}

.skill {
  margin-bottom: 8px;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-white);
}

.skill__value {
  width: 70%;
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-white);
  color: var(--color-dark-green);
  border-radius: 0 4px 0 0;
}

.tools h3 {
  color: var(--color-dark-green);
}

.tools,
.etc {
  padding: 20px;
}

.tools h3,
.etc h3 {
  font-weight: var(--weight-semi-bold);
}

.etc {
  color: var(--color-white);
  background-color: var(--color-olive-yellow);
  border-radius: 0 0 4px 0;
}

.etc h3 {
  color: var(--color-white);
}

/* Work */
.work__categories {
  margin: 40px;
}
.category__btn {
  position: relative;
  border: 2px solid var(--color-light-mint);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  text-align: center;
  color: var(--color-dark-mint);
}
.category__btn.active,
.category__btn:hover {
  background-color: var(--color-mint);
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 50%;
  transform: translateY(-50%);
}

.category__count {
  background-color: var(--color-yellow);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: absolute;
  top: -10px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration);
}

.category__btn:first-child .category__count span {
  position: relative;
  left: -1.5px;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(30px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project.inactive {
  display: none;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0;
  transform: translateY(-10px);
  transition: all var(--animation-duration);
}

.design {
  cursor: pointer;
  color: var(--color-white);
}

.project__description h3 {
  color: var(--color-dark-yellow);
  font-weight: var(--weight-semi-bold);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  margin-top: 8px;
  transform: translateX(-50%);
  background-color: var(--color-dark-white);
}

/* Pop-up */
.pop__up {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(-10px);
  transition: all var(--animation-duration);
}
.pop__up.active {
  display: block;
  opacity: 1;
  transform: translateY(0px);
}

.dark__bg {
  position: sticky;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0.8;
}

.pop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  height: 80%;
  padding: 30px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}
.pop__img {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.pop__img.app_pop {
  background-position: left center;
}

.pop__img.app_pop:hover {
  background-position: right center;
  transition: background-position 2s linear;
}

.pop__img.mood_board_pop {
  background-position: center top;
}

.pop__img.mood_board_pop:hover {
  background-position: center bottom;
  transition: background-position 2s linear;
}

.pop__img.pattern_polygon_pop {
  background-size: contain;
  background-position: center center;
}

.pop__close__btn {
  position: absolute;
  top: -56px;
  right: -48px;
  color: var(--color-white);
  font-size: 64px;
}

/* Contact */
#contact {
  background-color: var(--color-mint);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px;
}

.contact__links {
  font-size: var(--font-large);
  margin: 12px 0;
}

.contact__links a {
  transition: all var(--animation-duration);
}

.contact__links a:hover i {
  transform: scale(1.2);
  color: var(--color-black);
}

/* Top button */
.top__button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: url("/img/top.png") center/cover no-repeat;
  width: 40px;
  height: 40px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}

.top__button.visible {
  opacity: 1;
  pointer-events: auto;
}

/* Tablet Mode */
@media screen and (max-width: 768px) {
  :root {
    /* Font-size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-mint);
  }

  .navbar__logo a img {
    height: 30px;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 16px;
  }

  #home {
    padding: 40px 16px;
    padding-top: 120px;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 38px;
  }

  .category__count {
  }

  .skillset {
    flex-direction: column;
  }

  .skillset__left {
    border-radius: 4px 4px 0 0;
  }

  .tools {
    border-radius: 0;
  }

  .etc {
    border-radius: 0 0 4px 4px;
  }

  .project {
    flex-grow: 1;
  }
}

/* less than 1200px width */
@media screen and (max-width: 1200px) {
  .pop__close__btn {
    position: absolute;
    top: -56px;
    right: 5px;
    font-size: 50px;
    padding: 6px 0;
  }
}
/* Smart Phone Mode */
@media screen and (max-width: 767px) {
  .pop__up.active {
    display: none;
  }

  .category__btn {
    padding: 8px 0;
    margin: 4px 0;
    width: 80%;
  }
}
@media screen and (max-width: 468px) {
  #navbar {
    padding: 16px 12px;
  }
  .navbar__logo {
    margin-left: 0;
    padding-left: 0;
  }

  .navbar__toggle-btn {
    right: 12px;
    padding-right: 0;
  }

  .navbar__toggle-btn span {
    width: 16px;
  }

  .navbar__toggle-btn span:nth-child(2) {
    margin: 3px 0;
  }

  .section {
    padding: 50px 12px;
  }

  #home {
    padding: 40px 10px;
    padding-top: 120px;
  }

  .about__majors {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .major {
    margin-bottom: 30px;
  }

  .section__container {
    padding: 50px 12px;
  }

  .work__categories {
    margin: 40px 10px;
  }

  .category__count {
    right: 24px;
  }

  .top__button {
    right: 12px;
    bottom: 12px;
  }
}
